In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('../tmp/data/train.csv')
df.set_index('id',inplace=True)
df.head(2)

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,1,0,1,0,0,0,0,0,...,0,0,21,0,0,0,0,0,0,Class_2
1,0,0,0,0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_1

In [5]:
df['target'].value_counts()

Class_2    57497
Class_3    21420
Class_4    12593
Class_1     8490
Name: target, dtype: int64

In [32]:
# look for correlations
df.corr().unstack().to_frame('corr').reset_index().query("level_0 != level_1").sort_values('corr')

         level_0     level_1      corr
1916  feature_38  feature_16 -0.008243
838   feature_16  feature_38 -0.008243
1914  feature_38  feature_14 -0.007687
738   feature_14  feature_38 -0.007687
1703  feature_34   feature_3 -0.007256
...          ...         ...       ...
1450  feature_29   feature_0  0.016042
1502  feature_30   feature_2  0.016471
130    feature_2  feature_30  0.016471
1813  feature_36  feature_13  0.017109
686   feature_13  feature_36  0.017109

[2450 rows x 3 columns]

In [20]:
quants = df.quantile([0,0.01,0.05,0.5,0.75,0.9,0.95,0.99,1]).T
quants

            0.00  0.01  0.05  0.50  0.75  0.90  0.95   0.99  1.00
feature_0    0.0   0.0   0.0   0.0   0.0   1.0   2.0   5.00  10.0
feature_1    0.0   0.0   0.0   0.0   0.0   1.0   2.0  11.00  31.0
feature_2    0.0   0.0   0.0   0.0   0.0   0.0   1.0   3.00   6.0
feature_3    0.0   0.0   0.0   0.0   0.0   2.0   3.0  10.00  26.0
feature_4    0.0   0.0   0.0   0.0   0.0   1.0   2.0  17.00  38.0
feature_5    0.0   0.0   0.0   0.0   0.0   0.0   1.0   3.00  10.0
feature_6    0.0   0.0   0.0   0.0   0.0   2.0   6.0  12.00  27.0
feature_7    0.0   0.0   0.0   0.0   1.0   4.0   7.0  13.00  31.0
feature_8    0.0   0.0   0.0   0.0   0.0   2.0   4.0  21.00  39.0
feature_9    0.0   0.0   0.0   0.0   1.0   3.0   5.0   9.00  17.0
feature_10   0.0   0.0   0.0   0.0   0.0   1.0   2.0   6.00  16.0
feature_11   0.0   0.0   0.0   0.0   0.0   1.0   2.0   5.00  12.0
feature_12   0.0   0.0   0.0   0.0   0.0   2.0   3.0   5.00  11.0
feature_13   0.0   0.0   0.0   0.0   0.0   0.0   1.0   2.00   3.0
feature_14   0.0   0.0   0.0   1.0   3.0   7.0  11.0  24.00  51.0
feature_15   0.0   0.0   0.0   0.0   2.0   4.0   5.0  10.00  20.0
feature_16   0.0   0.0   0.0   0.0   0.0   1.0   2.0   7.00  19.0
feature_17   0.0   0.0   0.0   0.0   0.0   3.0   5.0   9.00  16.0
feature_18   0.0   0.0   0.0   0.0   0.0   2.0   3.0   5.00  13.0
feature_19  -2.0   0.0   0.0   0.0   1.0   4.0  11.0  25.00  55.0
feature_20   0.0   0.0   0.0   0.0   0.0   1.0   2.0   5.00  17.0
feature_21   0.0   0.0   0.0   0.0   0.0   2.0   4.0  11.00  36.0
feature_22   0.0   0.0   0.0   0.0   0.0   1.0   1.0   3.00   4.0
feature_23   0.0   0.0   0.0   0.0   0.0   1.0   2.0   6.00  19.0
feature_24   0.0   0.0   0.0   0.0   1.0   3.0   5.0  14.00  34.0
feature_25   0.0   0.0   0.0   0.0   0.0   1.0   2.0   6.01  23.0
feature_26   0.0   0.0   0.0   0.0   0.0   1.0   2.0   8.00  21.0
feature_27   0.0   0.0   0.0   0.0   0.0   0.0   1.0   8.00  31.0
feature_28   0.0   0.0   0.0   0.0   2.0   3.0   5.0   8.00  23.0
feature_29   0.0   0.0   0.0   0.0   0.0   0.0   1.0   4.00  13.0
feature_30  -1.0   0.0   0.0   0.0   0.0   1.0   2.0   5.00  41.0
feature_31  -1.0   0.0   0.0   0.0   1.0   4.0   7.0  17.00  46.0
feature_32  -2.0   0.0   0.0   0.0   0.0   0.0   1.0   6.00  27.0
feature_33   0.0   0.0   0.0   0.0   0.0   1.0   3.0  12.00  24.0
feature_34   0.0   0.0   0.0   0.0   1.0   3.0   6.0  13.00  25.0
feature_35  -2.0   0.0   0.0   0.0   0.0   2.0   5.0  16.00  43.0
feature_36   0.0   0.0   0.0   0.0   0.0   0.0   1.0   2.00   3.0
feature_37   0.0   0.0   0.0   0.0   0.0   1.0   2.0   5.00  14.0
feature_38  -8.0   0.0   0.0   1.0   4.0   8.0  12.0  28.00  66.0
feature_39  -5.0   0.0   0.0   0.0   0.0   1.0   2.0  19.01  66.0
feature_40   0.0   0.0   0.0   0.0   1.0   3.0   4.0   9.00  21.0
feature_41   0.0   0.0   0.0   0.0   0.0   1.0   3.0  11.00  32.0
feature_42  -2.0   0.0   0.0   0.0   0.0   1.0   2.0  12.00  37.0
feature_43   0.0   0.0   0.0   0.0   0.0   1.0   3.0  13.00  33.0
feature_44   0.0   0.0   0.0   0.0   0.0   0.0   1.0   3.00   9.0
feature_45   0.0   0.0   0.0   0.0   0.0   1.0   2.0   7.00  26.0
feature_46   0.0   0.0   0.0   0.0   0.0   1.0   3.0  13.00  29.0
feature_47   0.0   0.0   0.0   0.0   0.0   1.0   2.0   7.00  25.0
feature_48   0.0   0.0   0.0   0.0   1.0   3.0   5.0  12.00  44.0
feature_49   0.0   0.0   0.0   0.0   0.0   2.0   3.0   9.00  20.0